#header{
	text-align: center;
	background-image: url("lotus.jpg");
}

#logo{
	height: auto;
	width: auto;
	max-width: 500px;
	max-height: 500px;
}

h2{
	color: white;
}

.btn{
	-ms-transform: scale(1.5,1.5);
	-webkit-transform: scale(1.5,1.5);
	transform: scale(1.5,1.5);
}